.calcHeight{
  height:var(--heightVal)
}
.calcWidth{
  width:var(--widthVal)
}
.visibilityHidden{
  visibility: hidden;
}
.displayNone{
  display: none;
}
:host {
  --heightVal: 0;
  --widthVal: 0;
}
