/*
stel dat je hier een variabele in krijgt ...
.calcHeight{
  height: calc()
}
*/
.app-wrapper{
  width: calc(100vw - 16px);
  height: calc(100vh - 16px);
}

.spacer{
  flex: 1 1 auto
}

.marginLeftAuto{
  margin-left: auto;
}

.marginRightAuto{
  margin-right: auto;
}





