.calcHeight{
  height:var(--heightVal)
}
.calcWidth{
  width:var(--widthVal)
}
.visibilityHidden{
  visibility: hidden;
}
.displayNone{
  display: none;
}
:host{
  --heightVal:0;
  --widthVal:0;
}
/* todo zorg er wel voor dat je voor dit soort componenten terug een calcDimension kan hebben*/
